header {
    background: #6A48D7;
    padding: 5px 10px;
}

section {
    background: rgb(233, 233, 185);
    min-height: 500px;
}

body {
    background: #9480d4;
}

iframe {
    margin: 10px;
}

.comments {
    border: solid 1px black;
}

.comment {
    border: solid 1px black;
    margin: 5px 5px 10px 15px;
}

.hidden {
    display: none !important;
}